/* .auth-section{
    display: flex;
    height: 100vh;
}

.auth-container{
    display: flex;
    align-items: center;
    margin: auto;
}
.login-logo{

    width: 100px;
    height: 100px;
    margin-top: 100px;
} */