.main-bar {
  width: calc(100% - 300px - 24px);
  float: left;
  margin: 55px 0px;
  padding: 0;
}

.main-bar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-bar-div h1 {
  font-weight: 400;
}

.main-bar-div .ask-btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid #009dff;
  padding: 15px;
  border-radius: 4px;
  background-color: #009dff;
  border: none;
  transition: 0.2s;
}
.main-bar-div .ask-btn:hover {
  background-color: #0086d8;
}

.display-ans-container {
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fbf7e2;
  border-bottom: 1px solid #edeff0;
}

.display-ans-container .display-votes-ans{
    padding: 20px;
}

.display-ans-container .display-votes-ans p{ 
    margin: 0;
    text-align: center;
}

.display-question-details{
    flex-grow: 1;
    padding: 0px 20px;
}

.question-title-link{
    text-decoration: none;
    color: #037ecb;
    transition: .3s;
}

.question-title-link:hover{
    color: #009dff;
}

.display-question-details p{
    padding: 4px;
    margin: 0%;
}

.display-tags-time .display-tags{
    display: flex;
    flex-wrap: wrap;
}
.display-tags-time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;  
}

.display-tags-time .display-tags p{
    margin: 2px ;
    padding: 4px;
    background-color: #edeff0;
    color: #39739d;
    font-size: 13px;
}
.display-tags-time .display-time {
    font-size: 13px;


}